.background{
    background-image: url("./background/back1.jpg");
    background-repeat: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    color: white;
    font-family: 'Eingrantch Mono', sans-serif;
                                                
                                                
}

.title:hover{
    color: black;
}
